@media only screen and (min-width: 800px) {
    .card-section{
        display: flex;
        max-height: 250px;
    }
    .card-section h5,p{
        font-size: 100%;
    }
    .card-section img{
        width: 50%;
        border-radius:   5px 0 0 5px;
    }
}