@media only screen and (min-width: 800px) {
    .carousel-caption{
        visibility: hidden;
    }
    .card-section{
        display: flex;
        max-height: 200px;
    }
    .card-section h5,p{
        font-size: 100%;
    }
    .card-section img{
        width: 50%;
        border-radius:   5px 0 0 5px;
    }
}

@media (max-width: 575.98px) { 
    .trusted-area {
        display: none;
    }
    .carousel-caption{
        visibility: hidden;
    }
 }


@media (max-width: 767.98px) { .trusted-area{
        display:none;
    }
    .carousel-caption{
        visibility: hidden;
    }
}


@media (min-width: 1024px) {
    .carousel-caption{
        visibility: visible;
    }

}